{
  "chmod": "0777",
  "main": "bin/vtc",
  "output": "bin/vtc.phar",

  "directories": ["src"],
  "finder": [
    {
      "name": "*.php",
      "exclude": ["test", "tests"],
      "in": "vendor"
    }
  ],
  "stub": true
}
