version: '3'

services:

  vtiger:
    image: javanile/vtiger-dev:7.1.0
    environment:
      - VT_DEBUG=false
      - MYSQL_HOST=mysql
      - MYSQL_DATABASE=vtiger
      - MYSQL_ROOT_PASSWORD=secret
    ports:
      - "48080:80"
    volumes:
      - vtiger:/var/lib/vtiger
      - ./:/app
      - ./volumes/logs:/var/lib/vtiger/logs
      - ./volumes/storage:/var/lib/vtiger/storage
    links:
      - mysql
      - adminer
      #- xdebug

  mysql:
    image: mysql:5.5
    environment:
      - MYSQL_DATABASE=vtiger
      - MYSQL_ROOT_PASSWORD=secret
    volumes:
      - mysql:/var/lib/mysql:rw

  adminer:
    image: javanile/adminer
    environment:
      - MYSQL_DATABASE=vtiger
      - MYSQL_ROOT_PASSWORD=secret
    ports:
      - "48081:8080"

  composer:
    image: composer:1.3
    volumes:
      - ./:/app

  phpunit:
    image: phpunit/phpunit:6.5.3
    environment:
      - VT_ENDPOINT=http://vtiger
      - VT_USERNAME=admin
      - VT_CLIENT_LOG_FILE=/app/volumes/logs/vtiger-client.log
      - MYSQL_HOST=mysql
      - MYSQL_DATABASE=vtiger
      - MYSQL_ROOT_PASSWORD=secret
    volumes:
      - ./:/app
    links:
      - vtiger

  #xdebug:
  #  image: javanile/xdebug
  #  cap_add: [ 'NET_ADMIN', 'NET_RAW' ]
  #  restart: on-failure

volumes:
  mysql:
  vtiger:
